name: Auto Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy to EasyPanel
        run: |
          curl -X POST "http://149.102.138.127:3000/api/box/deploy/9b758249a5be7afcb2ce"
          
      - name: Wait for deployment
        run: sleep 30
        
      - name: Deploy Complete
        run: echo "Deploy do frontend concluido!"
